@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: aqua;
}

.b {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-size: 100%;;
}

.r {
    font-size: 100%;
}

h4 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

.n {
    font-family: 'Ubuntu', sans-serif;
}

button {
    background-color: beige;
    color: #2E1263;
    padding: 20px 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    border: 1px solid #2E1263;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    outline: none;
}

button:hover {
    transition: 0.3s;
    background-color: yellow;
    color: #F69680;
    text-decoration: underline;
}

select {
    font-family: 'Ubuntu', sans-serif;
}

input {
    font-family: 'Ubuntu', sans-serif;
}

.t {
    font-family: 'Ubuntu', sans-serif;
}

.n {
    font-family: 'Ubuntu', sans-serif;
}

center {
    font-family: 'Ubuntu', sans-serif;
}
