@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: aqua;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}


h2,
h4 {
    font-family: 'Arial', sans-serif;
    font-size: 1.25rem;
}

.address,
.ingredients {
    display: flex;
    flex-direction: column;
}

.address input {
    margin-bottom: 1rem;
    padding: .75em;
    border-radius: 5px;
    border: none;
}

.ingredients div {
    margin-bottom: .75rem;
}

button {
    background-color: beige;
    color: #2E1263;
    padding: 1.25em 2em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    border: 1px solid #2E1263;
    text-transform: uppercase;
    letter-spacing: 4px;
    outline: none;

    margin: 1rem 0;
}

button:hover {
    transition: 0.3s;
    background-color: yellow;
    color: #F69680;
    text-decoration: underline;
}